<nav class="ui secondary menu dream-menu dream-socials">
  {{ if .Site.Params.rss }}
    <div class="item">
      <a href="{{ "index.xml" | relLangURL }}">
        <i class="{{ .IconSize }} rss square icon" title="RSS"></i>
      </a>
    </div>
  {{ end }}
  {{ if .Site.Params.email }}
    <div class="item">
      <a href="mailto:{{ .Site.Params.email }}">
        <i class="{{ .IconSize }} mail icon" title="Email"></i>
      </a>
    </div>
  {{ end }}

  {{ if .Site.Params.twitter }}
    <div class="item">
      <a href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank">
        <i class="{{ .IconSize }} twitter icon" title="Twitter"></i>
      </a>
    </div>
  {{ end }}

  {{ if .Site.Params.linkedin }}
    <div class="item">
      <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}" target="_blank">
        <i class="{{ .IconSize }} linkedin icon" title="Linkedin"></i>
      </a>
    </div>
  {{ end }}

  {{ if .Site.Params.github }}
    <div class="item">
      <a href="https://github.com/{{ .Site.Params.github }}" target="_blank">
        <i class="{{ .IconSize }} github icon" title="GitHub"></i>
      </a>
    </div>
  {{ end }}

  {{ if .Site.Params.stackoverflow }}
    <div class="item">
      <a href="https://www.stackoverflow.com/users/{{ .Site.Params.stackoverflow }}" target="_blank">
        <i class="{{ .IconSize }} stack overflow icon" title="StackOverflow"></i>
      </a>
    </div>
  {{ end }}

  {{ if .Site.Params.medium }}
    <div class="item">
      <a href="https://www.medium.com/@{{ .Site.Params.medium }}" target="_blank">
        <i class="{{ .IconSize }} medium icon" title="medium"></i>
      </a>
    </div>
  {{ end }}

  {{ if .Site.Params.reddit }}
    <div class="item">
      <a href="https://www.reddit.com/user/{{ .Site.Params.reddit }}" target="_blank">
        <i class="{{ .IconSize }} reddit icon" title="reddit"></i>
      </a>
    </div>
  {{ end }}

</nav>
